:root{
  --lightgray: #F2F2F2;
  --darkgray: #808080;
  --blue: #1ECCF4;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Baloo Da 2', cursive;
  cursor: context-menu;
  user-select: none;
  color: var(--darkgray);
}

#bg-img{
  position: fixed;
  height: 100vh;
  width: 100vw;
  filter: grayscale(100%);
  opacity: .5;
}

/* #body{
  background-image: url('media/bg3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);
} */

.center{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.mistakes{
  /* background-color: black; */
  width: 400px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.mistake-point{
  height: 12px;
  width: 12px;
  background-color: var(--lightgray);
  border-radius: 10px;
}

.key p{
  position: relative;
  top: 2px;
  color: var(--darkgray);
}

.key{
  position: relative;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: var(--lightgray);
  margin: 2px;
}



.blinkKeyA{
  background-color: var(--blue);
}

.blinkKeyB{
  background-color: var(--lightgray);
  transition-property: background-color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

.clock{
  position:absolute;
  transform: translateX(-50%);
}

.red{
  text-shadow: 0 0 7px rgba(230,0,0,.5);
  color: red;
}

.charBlinkA{
  opacity: 0;
}

.charBlinkB{
  opacity: 1;
  transition-property: opacity;
  transition-duration: .8s;
  transition-timing-function: ;
}

#links{
  position: absolute;
  bottom: 10px;
}

#links a{
  text-decoration: none;
  margin: 0px 20px;
  font-size: 15px;
  color: lightgray;
  cursor: pointer;
  transition-duration: .5s;
}

#links a:hover{
  color: var(--blue);
}

#clock-progress{
  height:360px;
  width:360px;
  top:-5px;
}

#clock-time{
  height:350px;
  width:350px;
}

#body{
  position: relative;
  width: 100vw;
  height: 100vh;
}

#wrapper{
  position: relative;
  left: 50%;
  top: 50%;
  height: 85%;
  width: 600px;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 20px;
  border: 1px solid lightgray;

}

#level-text{
  top: -30px;
}
#currentLevel{
  font-size: 60px;
}

#points-counter{
  position: absolute;
  left: 100px;
  font-size: 50px;
  color: var(--darkgray);
}

#start-game{
  z-index: 10;
  top: 25px;
  position: absolute;
  right: 100px;
  font-size: 25px;
  color: var(--darkgray);
  transition-duration: .5s;
  cursor: pointer;
}


#game-wrapper{
  z-index: 5;
  position: relative;
  margin: 50px 0px;
  width: 600px;
  height: 300px;

}

#keyboard{
  width: 500px;
  top: 50px;
  transform: translateX(-51%);
}

#next-letter, #start{
  position: absolute;
  left: 50%;
  width: 500px;
  top: 190px;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 100px;

}

#start p{
  font-size: 17px;
}

#start, #start-game,#start h4{
  transition-duration: .5s;
}

#start h4:hover, #start-game:hover {
  color: var(--blue);
  letter-spacing: 3px;
}
